<%- include("header", {title: title}); %>

<body>
<div class="row">
    <br>
    <div class="col s12">
        <a href="/" class="breadcrumb black-text">Home</a>
        <a href="/<%= path.root %>" class="breadcrumb black-text"><%= path.root %></a>
        <% for (const row of path.directories) {
            let directories = "";
            let index = path.directories.indexOf(row);
            if (index > 0) {
                directories = encodeURIComponent(path.directories.slice(0, index).toString()) + ",";
            }
        %>
            <a href="/<%= path.root %>?d=<%=`${directories}${encodeURIComponent(row)}`  %>" class="breadcrumb black-text"><%= row %></a>
        <% } %>

    </div>
</div>
<div class="container">
    <div class="collection">
        <% for (const row of res.directories) {
            let directoryPath = path.directories.length > 0 ? encodeURIComponent(path.directories.toString()) + "," : "";
        %>
            <a href="/<%= `${path.root}?d=${directoryPath}${encodeURIComponent(row.name)}` %>" class="collection-item"><%= row.name %></a>
        <% }%>
    </div>
</div>
<div class="row">
    <% for (const row of res.files) { %>
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img class="materialboxed" src="static/<%= row.name %>">
                </div>
                <div class="card-content">
                    <p class="truncate"><%= row.name%></p>
                    <p class="truncate">Size: <%= row.size %></p>
                    <p class="truncate">Modified: <%= row.modified.toLocaleDateString() %></p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>
    <% } %>
</div>


<%- include("footer"); %>
</body>
<script src="/script/index.js"></script>

