<%- include("header", {title: title}); %>

<body>
<nav>
    <div class="nav-wrapper teal darken-3">
        <div class="input-field">
            <input id="search" type="search" autocomplete="off">
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
        </div>
    </div>
</nav>
<div class="row">
    <br>
    <div class="col s12">
        <a href="/" id="breadcrumb-root" class="breadcrumb black-text waves-effect">Home</a>
        <a href="/<%= path.root %>" class="breadcrumb black-text waves-effect"><%= path.root %></a>
        <% for (const row of path.directories) {
            let directories = "";
            let index = path.directories.indexOf(row);
            if (index > 0) {
                directories = encodeURIComponent(path.directories.slice(0, index).toString()) + ",";
            }
        %>
            <a href="/<%= path.root %>?d=<%=`${directories}${encodeURIComponent(row)}`  %>" class="breadcrumb black-text waves-effect"><%= row %></a>
        <% } %>

    </div>
</div>
<div class="container">
    <ul class="collapsible">
        <li <%= res.directories.length > 0 ? null : "class=hide"%>>
            <div class="collapsible-header"><i class="material-icons">folder</i>Directories</div>
            <div class="collapsible-body">
                <div class="collection">
                    <% for (const row of res.directories) {
                        let directoryPath = path.directories.length > 0 ? encodeURIComponent(path.directories.toString()) + "," : "";
                    %>
                    <a href="/<%= `${path.root}?d=${directoryPath}${encodeURIComponent(row.name)}` %>" class="collection-item"><i class="material-icons">folder_open</i><%= row.name %></a>
                    <% }%>
                </div>
            </div>
        </li>
        <li <%= res.files.length > 0 ? null : "class=hide"%>>
            <div class="collapsible-header"><i class="material-icons">library_books</i>Files</div>
            <div class="collapsible-body">
                <div class="collection">
                    <% for (const row of res.files) { %>
                        <a href="static/<%= row.name %>" download class="collection-item light-blue-text "><i class="fa fa-file<%= `${row.icon === undefined ? "" : `-${row.icon}`}` %>-o"></i><%= row.name %></a>
                    <% }%>
                </div>
            </div>
        </li>
        <li <%= res.images.length > 0 ? null : "class=hide"%>>
            <div class="collapsible-header"><i class="material-icons">photo_library</i>Images</div>
            <div class="collapsible-body">
                <div class="row">
                    <%
                    let start = (page-1) * 24;
                    let images = res.images.slice(start, start + 24);

                    for (const row of images) { %>
                        <div class="col s12 m2">
                            <div class="card small hoverable scale-transition">
                                <div class="container-image">
                                    <div class="card-image">
                                        <img class="materialboxed" data-caption="<%= row.name %>" src="static/<%= row.name %>">
                                    </div>
                                </div>
                                <div class="card-content">
                                    <p class="truncate"><%= row.name%></p>
                                    <p class="truncate">Size: <%= row.size %></p>
                                    <p class="truncate">Modified: <%= row.modified.toLocaleDateString() %></p>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>

                <ul class="pagination center">
                    <% page = parseInt(page);

                    if (page === 1) { %>
                        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                    <% } else { %>
                        <li class="waves-effect"><a href="<%= `${path.root}?d=${encodeURIComponent(path.directories.toString())}&p=${page - 1}`%>"><i class="material-icons">chevron_left</i></a></li>
                    <% } %>

                    <% for (var i = 0; i < res.images.length / 24; i++) {
                        let fullPath = `${path.root}?d=${encodeURIComponent(path.directories.toString())}&p=${i + 1}`;

                    if (page == i + 1) { %>
                        <li class="active teal"><a href="<%= fullPath %>"><%= i + 1 %></a></li>
                    <% } else { %>
                        <li class="waves-effect"><a href="<%= fullPath %>"><%= i + 1 %></a></li>
                    <% } %>
                    <% } %>

                    <% if (page >= res.images.length / 24) { %>
                        <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                    <% } else { %>
                        <li class="waves-effect"><a href="<%= `${path.root}?d=${encodeURIComponent(path.directories.toString())}&p=${page + 1}`%>"><i class="material-icons">chevron_right</i></a></li>
                    <% } %>
                </ul>
            </div>
        </li>
        <li <%= res.videos.length > 0 ? null : "class=hide"%>>
            <div class="collapsible-header"><i class="material-icons">video_library</i>Videos</div>
            <div class="collapsible-body">
                <div class="row">
                    <%for (const row of res.videos) { %>
                        <div class="col s12 m12">
                            <div class="card big hoverable horizontal">
                                <div class="card-image">
                                    <video class="responsive-video" controls>
                                        <source src="static/<%= row.name %>" type="video/mp4">
                                    </video>
                                </div>
                                <div class="card-stacked">
                                    <div class="card-content">
                                        <h5 class="truncate"><%= row.name%></h5>
                                        <p class="truncate">Size: <%= row.size %></p>
                                        <p class="truncate">Modified: <%= row.modified.toLocaleDateString() %></p>
                                    </div>
                                    <div class="card-action center">
                                        <a href="static/<%= row.name %>" download class="waves-effect">Download</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </li>
    </ul>
</div>


<%- include("footer"); %>
</body>
<script src="/script/index.js"></script>
<script src="/script/search.js"></script>

