<%- include("header", {title: title}); %>

<body id="nhlPage">
<nav>
	<div class="nav-wrapper teal darken-3">
		<div class="input-field">
			<input id="search" type="search" autocomplete="off">
			<label class="label-icon" for="search"><i class="material-icons">search</i></label>
			<i class="material-icons">close</i>
		</div>
	</div>
</nav>

<div class="row">
	<br>
	<div class="col s12">
		<a href="/" class="breadcrumb black-text">Home</a>
		<a href="/NHL" class="breadcrumb black-text">NHL</a>
	</div>
</div>

<div class="row grid">
<% for (const row of res) { %>
	<div class="col s6 m4">
		<a href="watch?v=<%= row.id %>">
			<div class="card hoverable scale-transition">
				<div class="card-image">
					<div class="col s6">
						<div class="section">
							<img src="/images/team-logos/<%= row.teams.home.abbr%>.svg" alt="home"/>
						</div>
					</div>
					<div class="col s6">
						<div class="section">
							<img src="/images/team-logos/<%= row.teams.away.abbr%>.svg" alt="away"/>
						</div>
					</div>
				</div>
				<div class="card-content">
					<span class="card-title black-text"><%= row.teams.home.abbr %> - <%= row.teams.away.abbr%></span>
					<div class="divider"></div>

					<p class="black-text"><%= row.teams.home.name %> - <%= row.teams.away.name %><br><%= row.date %></p>
				</div>
			</div>
		</a>
	</div>
<% } %>
</div>



<%- include("footer"); %>
</body>
<script src="/script/search.js"></script>

